/* Call to Action */
.ctn-container {
    width: 100%;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
}

.cta__getStarted {
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.ctnBtn {
    padding: 20px 40px;
    color: #FFF;
    background: linear-gradient(to bottom right,
            rgb(225, 111, 92),
            rgb(225, 207, 145));
    border: none;
    font-size: 20px;
    border-radius: 0;
    border-radius: 2px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 225, 0.479);
}

/* lg */
@media (max-width: 1024px) {
       .ctnBtn {
        padding: 15px 30px;
        font-size: 18px;
    }
    .cta__getStarted {
        width: 85%;
    }
}

/* md */
@media (max-width: 768px) {
    .ctnBtn {
        padding: 10px 20px;
        font-size: 14px;
    }
    .cta__getStarted {
        width: 90%;
    }
    .cta__text {
        width: 70%;
    }
}

/* sm */
@media (max-width: 640px) {
    .ctn-container {
        width: 100%;
    }

    .cta__getStarted {
        width: 100%;
        padding: 1rem;
    }

    .ctnBtn {
        padding: 10px 20px;
        border: none;
        font-size: 16px;
    }
}

/* xs */
@media (max-width: 475px) {

     .ctn-container {
        width: 100%;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    }

    .cta__getStarted {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cta__getStarted {
        width: 100%;
    }

    .cta__text {
        width: 100%;
    }


}