/* Footer */
.footer {
    padding-top: 50px;
    height: 100%;
    /* background: url('images/footer-agency.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
}

.col-4 {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col-4 img {
    width: 200px;
}

.footer-wrapper {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
}

.social-profile i {
    margin: 50px 20px;
    font-size: 25px;
    color: gray;
}

.website-title {
    font-size: 45px;
    font-weight: 700;
    color: #282f59;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    color: grey;
    padding: 30px;
    font-weight: 400;
    position: relative;
}

/* xs */
@media (max-width: 475px) {
    .footer {
        padding-top: 50px;
        height: 100%;
        width: 100%;
        background: none;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 80px;
    }
}