/* Testimonials */
.testimonials {
    display: block;
}

.testimonials .section-heading {
    font-weight: 600;
    color: #282f59;
    padding-bottom: 40px;
}

.testimonials .sub-heading {
    width: 70%;
    padding-bottom: 40px;
}

.testimonials-groups {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.single-testimonial {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #e5e5e5;
    border-radius: 5px;
    cursor: pointer;
}

.single-testimonial:hover img {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.single-testimonial h2 {
    display: inline-block;
    margin-bottom: 10px;
    color: #282f59;
}

.single-testimonial p {
    width: 90%;
}

@media (max-width: 1280px) {
      /* Testimonials */
    .testimonials-groups {
        grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    }
}

/* lg */
@media (max-width: 1024px) {
    
    .testimonials-groups {
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }

    .single-testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        background-color: #e5e5e5;
    }

    .single-testimonial p {
        width: 100%;
    }

    .single-testimonial h2 {
        text-align: center;
        display: block;
        margin-top: 10px;
    }

}